<!DOCTYPE html>
<html>
    <head>
        <!--Make site responsive on mobile/tablet-->
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <title>Movie Search App</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
        <!--<link rel="stylesheet" href="/stylesheets/main.css"></link>-->
    </head>
    
    <style>
body  {
    background-image: url("http://kb4images.com/images/images-background/37380697-images-background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
</style>
    <body>
        