<h1>Welcome To My Movie Search App</h1>
<h2>Powered by OMDB</h2>

<form action="/searchResult" method="GET">
    <input type="text" name="keyword" placeholder="Please enter keyword here"></input>
    <input type="submit"></input>
</form>


<!--<h1>Welcome To My Movie Search App</h1>-->
<!--<h2>Powered by OMDB</h2>-->

<!--<form action="/searchResult" method="POST">-->
<!--    <input type="text" name="keyword" placeholder="Please enter keyword here"></input>-->
<!--    <input type="submit"></input>-->
<!--</form>-->