<% include ./partials/header %>

<h1 class="text-center"> <strong>Welcome To Stephen Obioma Movie Search App </strong></h1>
<h2 class="text-center">Powered by OMDB</h2>

<br></br>

<form class="text-center" action="/searchResult" method="GET">
    <input type="text" name="keyword" placeholder="Please enter keyword here"></input>
    <input type="submit"></input>
</form>

<% include ./partials/footer %>
